<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CVB.NET.Aspects" version="1.0.0" targetFramework="net461" />
  <package id="CVB.NET.Debugging" version="1.0.0" targetFramework="net461" />
  <package id="CVB.NET.Exceptions" version="1.0.0" targetFramework="net461" />
  <package id="CVB.NET.Reflection.Caching" version="1.0.0" targetFramework="net461" />
  <package id="CVB.NET.Ui" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net461" />
</packages>