<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Bootstrap services -->
  <bootstrap>

    <!-- Custom service location container -->
    <dependency xdt:Locator="Match(interfaceType)" xdt:Transform="Replace"
                interfaceType="CVB.NET.DataAccess.Repository.IQueryableCrudRepository`1[[CVB.NET.DataAccess.Sql.TreeModelRepository.Schema.ModelBase, CVB.NET.DataAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], CVB.NET.DataAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                implementationType="CVB.NET.DataAccess.Sql.MsSqlQueryableCrudRepository`1[[CVB.NET.DataAccess.Sql.TreeModelRepository.Schema.ModelBase, CVB.NET.DataAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], CVB.NET.DataAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <constructor>
        <argument name="database" value="DSS.Core" />
        <argument name="sqlConnection">
          <inject>
            <argument name="connectionString" value="Data Source=CVB-D;Initial Catalog=DSS.Core;Persist Security Info=True;User ID=sa;Password=X747x747;MultipleActiveResultSets=True" />
          </inject>
        </argument>
      </constructor>
    </dependency>
    
  </bootstrap>

</configuration>