<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>

    <section name="customCompilation" type="CVB.NET.Rewriting.Compiler.Configuration.Models.CompilerConfigurationSection, CVB.NET.Rewriting.Compiler" />
    
  </configSections>

  <customCompilation>

    <compilationSteps>

      <compilationStep name="ApplyPreTransformationsStep"
                       preExecutionTasks="ApplyCustomTransformations" />
      
      <compilationStep name="ApplyPostTransformationsStep"
                       preExecutionTasks="ApplyCustomTransformations"
                       dependsOnSteps="ApplyPreTransformationsStep" />

    </compilationSteps>
    
    <compilationTasks>
      
      <compilationTask name="ApplyCustomTransformations"
                       implementationType="CVB.NET.Rewriting.Compiler.CompilationUnits.Tasks.Cecil.CecilTransformationRunner, CVB.NET.Rewriting.Compiler.CompilationUnits"
                       postExecutionTasks="VerifyAssembly" />
      
      <compilationTask name="VerifyAssembly"
                       implementationType="CVB.NET.Rewriting.Compiler.CompilationUnits.Tasks.PeVerify.PeVerifyTask, CVB.NET.Rewriting.Compiler.CompilationUnits" />
      
    </compilationTasks>

    <serviceAssemblies>
      <!-- Assemblies containing services that support steps and tasks go here, Remember to place the ServiceAssemblyAttribute on the assembly that points to the default installers -->
      <serviceAssembly fullName="CVB.NET.Rewriting.Compiler.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </serviceAssemblies>
    
  </customCompilation>
  
</configuration>