<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>

    <section name="reflectionCache" type="System.Runtime.Caching.Configuration.MemoryCacheSection, System.Runtime.Caching, Version= 4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

    <section name="complexConfigStringSerializers" type="CVB.NET.Configuration.ConfigurationElementPropertySerialization.ConfigurationElements.ConfigStringSerializerSection, CVB.NET.Configuration" />

    <section name="sqlTest" type="CVB.NET.Configuration.Ioc.ConfigurationElements.ServiceLocationSection, CVB.NET.Configuration" />

  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

  <reflectionCache configSource="CVB.NET.ReflectionCache.config" />

  <complexConfigStringSerializers configSource="CVB.NET.Configuration.PropertySerializers.config" />

  <sqlTest>
    <dependency id="TestConnection">
      
      <implementationType type="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <constructor>
        <argument name="connectionString" value="Data Source=CVB-D;Initial Catalog=DSS.Core;Persist Security Info=True;User ID=sa;Password=X747x747;MultipleActiveResultSets=True" />
      </constructor>
    
    </dependency>
      
    <dependency>

      <interfaceType type="CVB.NET.DataAccess.Repository.GenericModel.IGenericModelMapper`1, CVB.NET.DataAccess">
        <argument type="CVB.NET.DataAccess.Sql.T4Queries.Model.MetaData.Views.OrmSqlTypeMetaDataView, CVB.NET.DataAccess.Sql" />
      </interfaceType>

      <implementationType type="CVB.NET.DataAccess.Repository.GenericModel.GenericModelMapper`1, CVB.NET.DataAccess">
        <argument type="CVB.NET.DataAccess.Sql.T4Queries.Model.MetaData.Views.OrmSqlTypeMetaDataView, CVB.NET.DataAccess.Sql" />
      </implementationType>

    </dependency>
    
    <dependency>
      
      <interfaceType type="CVB.NET.DataAccess.Sql.ISqlCommandProvider, CVB.NET.DataAccess.Sql" />
      
      <implementationType type="CVB.NET.DataAccess.Sql.SqlCommandProvider, CVB.NET.DataAccess.Sql" />
     
      <constructor>
        
        <argument name="connection" injectId="TestConnection" />
        
        <argument name="schema" value="dbo" />

        <argument name="mapper" injectType="CVB.NET.DataAccess.Repository.GenericModel.GenericModelMapper`1, CVB.NET.DataAccess" />
        
      </constructor>
    </dependency>
    
    <dependency id="Core">
      
      <interfaceType type="CVB.NET.DataAccess.Repository.IQueryableCrudRepository`2, CVB.NET.DataAccess">
        <argument type="CVB.NET.DataAccess.Sql.TreeModelRepository.Schema.ModelBase, CVB.NET.DataAccess.Sql" />
        <argument type="CVB.NET.DataAccess.Sql.T4Queries.Model.MetaData.Views.OrmSqlTypeMetaDataView, CVB.NET.DataAccess.Sql" />
      </interfaceType>

      <implementationType type="CVB.NET.DataAccess.Sql.MsSqlQueryableCrudRepository`1, CVB.NET.DataAccess.Sql">
        <argument type="CVB.NET.DataAccess.Sql.TreeModelRepository.Schema.ModelBase, CVB.NET.DataAccess.Sql" />
      </implementationType>

      <constructor>
        <argument name="sqlConnection" injectId="TestConnection" />
        <argument name="database" value="DSS.Core" />
      </constructor>
      
    </dependency>
  </sqlTest>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.3.21.0" newVersion="4.3.21.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="PostSharp.Patterns.Model" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.3.21.0" newVersion="4.3.21.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>

</configuration>