<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CVB.NET.Aspects" version="1.0.0" targetFramework="net461" />
  <package id="CVB.NET.Debugging" version="1.0.0" targetFramework="net461" />
  <package id="CVB.NET.Exceptions" version="1.0.0" targetFramework="net461" />
  <package id="CVB.NET.Ioc" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="CVB.NET.Reflection.Aspects" version="1.0.0" targetFramework="net461" />
  <package id="CVB.NET.Reflection.Caching" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="CVB.NET.Rewriting" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="CVB.NET.Rewriting.Interfaces" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="CVB.NET.Rewriting.Utils" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="CVB.NET.Utils" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net461" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" developmentDependency="true" />
  <package id="PostSharp" version="4.3.21" targetFramework="net461" developmentDependency="true" />
</packages>