<#@ template language="C#" inherits="CVB.NET.TextTemplating.Runtime.Base.QueryTemplateBase<SchemaScopedQueryDescription>" #>
<#@ output extension=".sql" #>
<#/*Imports*/#>
<#@ import namespace="CVB.NET.DataAccess.Sql.T4Queries.Model.Base" #>
<#/*Target Database*/#>
USE [<#= Description.Database #>];

set xact_abort on

BEGIN TRAN writeTransaction
