<?xml version="1.0" encoding="utf-8"?>

<complexConfigStringSerializers>
  <serializer type="CVB.NET.Configuration.Serialization.Serializers.SqlConnectionSerializer, CVB.NET.Configuration" />

  <serializer type="CVB.NET.Configuration.Serialization.Serializers.TypeSerializer, CVB.NET.Configuration" />

  <serializer type="CVB.NET.Configuration.Serialization.Serializers.SimpleParsePatternSerializer`1, CVB.NET.Configuration" >

    <targetType type="System.Byte" />
    <targetType type="System.SByte" />

    <targetType type="System.Int16" />
    <targetType type="System.Int32" />
    <targetType type="System.Int64" />

    <targetType type="System.UInt16" />
    <targetType type="System.UInt32" />
    <targetType type="System.UInt64" />

    <targetType type="System.Boolean" />

    <targetType type="System.Char" />

  </serializer>

  <!--<serializer type="CVB.NET.Configuration.Serialization.Serializers.DictionarySerializer`2, CVB.NET.Configuration" >

    <targetType type="System.Single" />
    <targetType type="System.Double" />
    <targetType type="System.Decimal" />

  </serializer>-->

  <serializer type="CVB.NET.Configuration.Serialization.Serializers.FloatingPointSerializer`1, CVB.NET.Configuration" >

  </serializer>
  
</complexConfigStringSerializers>